
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-5">
        <img src="~/Content/gitbit-logo.png" style="margin-top: 10px;" />
    </div>
    <div class="col-md-7">
        <h2>Privacy at GitBit!</h2>
        <p>
            GitBit doesn't collect, store, or use any of the data we receive from GitHub or that we pass to the littleBits API. 
        </p>
    </div>
</div>